* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
a { text-decoration:none; }
/* Add focus styles to match active and hover style */
a:focus { outline:none; }

/* Reset margins and paddings in navs */
nav ul {
	margin:0;
	padding:0;
}
.container {
	width:960px;
	margin:0 auto;
}
header h1 {
	margin:0;
}
header h1 a {
	display:block;
	color:#de1995;
	background:url(img/logo.jpg) 0 0 no-repeat;
	background-size:125px;
	line-height:125px;
	padding-left:135px;
	text-decoration:none;
	font-weight:normal;
	font-size:0.9em;
}
header nav {
	background:#f5f5f5;
	border-top:3px solid #ccc;
	overflow:auto;
}
header nav li a {
	float:left;
	color:#333;
	padding:12px 15px;
}
header nav li a.home {

}
header nav li a:hover,
header nav li a:focus,
header nav li a.active {
	color:#de1995;
}
.content {
	overflow:auto;
	margin:60px 0;
}
.content aside nav {
	float:left;
	width:30%;
}
.content aside nav li a {
	display:block;
	border-top:1px solid #ccc;
	padding:10px 20px;
	color:#999;
	font-size:0.9em;
}
.content aside nav li:last-child a {
	border-bottom:1px solid #ccc;
}
.content aside nav li a:hover,
.content aside nav li a:focus,
.content aside nav li a.active {
	background:#de1995;
	border-bottom-color:#ee8cca;
	border-top-color:#de1995;
	color:#fff;
}
.content section {
	float:right;
	width:67%;
}
.content section h2 {
	margin:0;
	font-size:1.5em;
	font-weight:normal;
	color:#333;
}
p.group-type {
	margin:0;
	padding-left:20px;
	color:#999;
	font-size:0.75em;
	text-transform:uppercase;
}
footer {
	background:#de1995;
}
footer nav { overflow:auto; }
footer nav li a {
	float:left;
	color:#fff;
	padding:30px 15px;
	font-size:0.9em;
}
footer nav li a:after {
	content:"|";
	position:relative;
	right:-15px;
}
footer nav li:last-child a:after {
	content:"";
}
footer nav li a:hover,
footer nav li a:focus,
footer nav li a.active {
	text-decoration:underline;
}